.cell {
  background-color: red;
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  margin-right: 0.25rem;
  vertical-align: top;
  margin-bottom: 0.25rem;
  justify-content: center;
  font-size: 2.5em;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}
